.center {
    display: flex;
    justify-content: center;
  }

  .table-wrapper-scroll-y{
    display:block;
    max-height: 80000px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}