<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <form>
            <label class="form-label center">Agregar Meeting</label>
            <br />
            <label class="form-label"
              >Nombre del Usuario : {{ user.name }}
            </label>
            <label class="form-label">Hora del Meeting</label>
            <br />
            <input
              [(ngModel)]="meeting.meetingTime"
              type="time"
              name="meetingTime"
              id="meetingTime"
            />
            <br />
            <br />
            <button
              (click)="agregarMeeting(meeting.userId!)"
              class="btn btn-primary"
            >
              agregar meeting
            </button>
            <br />
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="table-wrapper-scroll-y">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">HORA DE MEETING</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meetings of ListMeeting3">
              <td>
                {{ meetings.meetingTime }}
              </td>
              <td>
                <button (click)="eliminarMeeting($event)" class="btn btn-danger"  id={{meetings.meetingId}}>
                  ELIMINAR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
